
<p>
<a href = "/places?title = <%=@title%>" ></a>
</p>

<h1>What City do you want to add?</h1>
<form action="/places">
<input type ="text" name="title">
</form>
<h1>What did you do?</h1>
<form action = "/places">
<input type ="text" name="description">
</form>


<button> Add</button>
